<div id="hud-inner">
	<button id="exit">Exit</button>
	<button id="show-nucleus" class='nucleus-only'>Nucleus</button>
	<!-- <button id="fast-exit">Fast Exit</button> -->
	<!-- <button id="game-win">Win</button> -->

</div>
<div class="nucleus-explanation nucleus-only">
	<p>Interaction with the proteins isn't possible, you'll have to find another way to change the drake!</p>
</div>
<div class="exit-confirmation hidden">
	<div class="exit-inner">
		<p>Are you sure you want to leave?</p>
		<button class="leave">Leave</button>
		<button class="stay">Stay</button>
	</div>
</div>

<div id="highlight" class="highlight hidden"></div>

<div id="input-blocker" class="disabled"></div>

<div id="tutorial" class="tutorial-wrapper hidden"></div>

<div id="stats" class="hidden"></div>
