body {
  background: url("https://geniverse-lab.concord.org/static/lab/en/e0b89b3afdf312f5315d701ddf9924d47d0a4795/resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 1080px;
  margin-top: 90px;
  height: 880px;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#breed-button {
  background-color: white;
  margin: 50px 0 10px 0;
  padding: 2px 19px 3px 19px;
}

#offspring {
  min-width: 200px;
  min-height: 200px;
}

#meiosis {
  position: relative;
  background-color: rgba(100%, 100%, 100%, 0.4);
}

.parent-gamete {
  min-width: 150px;
  min-height: 150px;
  float: left;
}

.allele-filters-container {
  background-color: rgba(100%, 100%, 100%, 0.4);
  width: 300px;
}

.gene-allele-list
  list-style: none;

.parent-gamete .geniblocks.gamete {
  width: 150px;
  height: 150px;
}

.geniblocks.gamete {
  background-image: url("gamete-placeholder.png");
  background-repeat: no-repeat;
  background-size: contain;
}

img {
  max-width: 100%;
  max-height: 100%;
}
