body {
  background: url("../resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 1080px;
  margin: 90px auto;
  height: 880px;
  display: flex;
  justify-content: center;
}

#challenges-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column-label {
  margin-top: -20px;
  margin-bottom: 25px;
  color: white;
  font-size: 14pt;
  font-weight: bold;
}

/* challenges */
.parent-drake {
  margin-top: -20px;
}

.geniblocks.genome {
  margin-top: -20px;
}

.feedback-view {
  margin-top: 30px;
  width: 200px;
}

.geniblocks.feedback.text-line {
  margin-top: 3px;
}

.geniblocks.allele.noneditable span {
  background-color: #AAAAAA;
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
  height: 14px;
}

#target-drakes {
  display: flex;
  flex-direction: row;
  margin-left: -60px;
  margin-top: -20px;
}

#breed-button-and-goal-feedback {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;
}

#breed-button {
  margin-right: 20px;
  height: 24px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
}

#breeding-pen {
  margin-top: 30px;
}

.tabs-menu-item a {
  font-weight: bold;
  color: black;
}

.tabs-menu-item.is-active a {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.tab-panel {
  padding: 10px 0px;
}

.geniblocks.pen {
  background-color: #936942;
}

.geniblocks.stats {
  background-color: white;
}

#stats-table {
  border-collapse: collapse;
}

#stats-table.no-data {
  display: none;
}

#stats-table th, td {
  border: 1px solid #999;
  padding: 2px;
}

#stats-table .even-trait {
  background: #ddd;
}

#stats-table .label {
  text-align: left;
}

#stats-table .numeric {
  text-align: right;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

#alert-wrapper {
  display: none;
  margin-top: -100px;
  z-index: 2;
  position: relative;
  width: 300px;
  background-color: #DDD;
  padding: 15px;
  box-shadow: 0px 0px 15px #C2C793;
}

#alert-try-button {
  margin-top: 30px;
  float: left;
  width: 90px;
}

#alert-ok-button {
  margin-top: 30px;
  float: right;
  width: 90px;
}
