/*
 * This file was originally a CSS file used for a standalone Case 1 example page.
 * When Cases 1, 3, and 5 were combined into a single application the bulk of
 * it was indented under #case-1 and left alone. There is plenty of opportunity
 * for more efficient use of Stylus and/or for better coordination between the
 * styles of the separate cases.
 */
#case-1
  #playground-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #challenges-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .column-label {
    margin-top: 125px;
    margin-bottom: 25px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }

  #center-column {
    width: 300px;
  }

  #playground-wrapper #change-sex-buttons {
    margin: 160px 0 30px -100px;
  }

  #change-sex-buttons {
    width: 100px;
    height: 43px;
  }

  #change-sex-buttons.no-label {
    margin-left: 0;
  }

  /* playground */
  #drake-image {
    margin: 200px 25px 0;
  }

  /* challenges */
  .drake-image {
    margin: 0 25px;
  }

  .geniblocks.question-glow.question-mark {
    background: url("./resources/images/question_mark.png");
  }

  #advance-button {
    background-color: white;
    margin: 180px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  #test-drake-button {
    background-color: white;
    margin: 30px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  .geniblocks.feedback-view {
    margin-top: 30px;
    width: 200px;
  }

  .geniblocks.feedback.text-line {
    margin-top: 3px;
  }

  .geniblocks.glow {
    position: absolute;
  }

  .geniblocks.organism {
    position: absolute;
    top: 0px;
  }

  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  #alert-wrapper {
    display: none;
    z-index: 2;
    position: relative;
    width: 200px;
    background-color: #DDD;
    padding: 15px;
    box-shadow: 0px 0px 15px #C2C793;
  }

  #alert-try-button {
    margin-top: 30px;
    float: left;
    width: 90px;
  }

  #alert-ok-button {
    margin-top: 30px;
    float: right;
    width: 90px;
  }
