@font-face{
  font-family:'Rather Unfortunate';
  src:url('../resources/fonts/RatherUnfortunate.ttf');
}

.caselog-view {
  background: url('../resources/images/caselog-bg.jpg') center top no-repeat;
  height: 100%;
}

#caselog-wrap {
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -528px;
  width: 1056px;
  height: 580px;
}

#caselog-book {
  position: absolute;
  bottom: 40px;
  right: 150px;
  top: 0;
  left: 50px;
}

#caselog-book #col1 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 370px;
  bottom: 60px;
}

#caselog-book #col2 {
  position: absolute;
  top: 0;
  left: 480px;
  width: 350px;
  bottom: 60px;
}

#caselog-book #title {
  font-weight: normal;
  text-align: center;
  font-family: 'Rather Unfortunate',Verdana,sans-serif;
  line-height: 1.4;
  position: relative;
  padding-right: 130px;
  padding-left: 16px;
  cursor: default;
}

#caselog-book #title .title {
  font-size: 40px;
}

#caselog-book #title .section {
  font-size: 32px;
}

#caselog-book .case {
  position: relative;
  font-size: 12px;
  line-height: 1.4;
  cursor: pointer;
}

#caselog-book .case .title {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Rather Unfortunate',Verdana,sans-serif;
  position: absolute;
  top: 5px;
  left: 63px;
  line-height: 1.1em;
  margin-top: 14px;
}

#caselog-book .case.case-disabled {
  opacity: 0.25;
  cursor: default;
}

#caselog-book .case.case0 {
  background: url('../resources/images/dragon_icon_red.png') top left no-repeat;
  height: 157px;
  margin-top: 40px;
}

#caselog-book .case.case1 {
  background: url('../resources/images/dragon_icon_blue.png') top left no-repeat;
  height: 157px;
}

#caselog-book .case.case2 {
  background: url('../resources/images/dragon_icon_yellow.png') top left no-repeat;
  height: 157px;
  margin-top: 8px;
  margin-left: -0.5px;  /* to match up with rope */
}

#caselog-book .case.case3 {
  background: url('../resources/images/dragon_icon_green.png') top left no-repeat;
  height: 157px;
}

#caselog-book .case.case4 {
  background: url('../resources/images/dragon_icon_purple.png') top left no-repeat;
  height: 157px;
}

