.geniblocks.avatar-button
  width: 116px
  height: 107px
  background-image: url('../resources/fablevision/huds/Avatar_base.png')
  background-size: cover

  .avatar-center
    position:absolute
    left: 22px
    top: 19px
    width: 74px
    height: 74px
    background-image: url('../resources/fablevision/huds/Avatar_center.png')
    background-size: 100% 100%
