.fv-bottom-hud
  z-index: 2
  position: absolute
  bottom: 0px
  .geniblocks.avatar-button
    position: absolute
    left: 70px
    top: 38px
  .geniblocks.level-indicator
    position: absolute
    left: 300px
    top: 54px
  .geniblocks.trial-count
    position: absolute
    left: 1400px
    top: 38px
