.fv-bottom-hud
  position: absolute
  bottom: 0px
  .geniblocks.avatar-button
    position: absolute
    left: 70px
    top: 38px
  .geniblocks.level-indicator
    position: absolute
    left: 275px
    top: 54px
  .geniblocks.trial-count
    position: absolute
    left: 1418px
    top: 38px
  .geniblocks.score-count
    position: absolute
    left: 1560px
    top: 38px
  .geniblocks.moves-count
    position: absolute
    left: 1565px
    top: 38px
    width: 200px
    .hud-text-area
      left: 10px
  .gem-set-container
    background-image: url('../resources/fablevision/huds/crystal_bar.png')
    width: 912px
    height: 114px
    margin-top: 30px
    background-size: contain
    background-repeat: no-repeat
  .gem-set
    margin-top: 0px
    margin-left: 263px
    .gem-number-text
      visibility: hidden
    .gem-container .gem-outline-highlight
      margin-right: -3px
      .gem-outline
        background-image: url('../resources/fablevision/huds/empty_crystal.png')
      .gem-fill
      .gem-outline
        width: 68px
        margin-left: 17px
  .mission-screen
    background-image: url('../resources/fablevision/huds/mission_screen.png')
    width: 264px
    height: 78px
    position: absolute
    margin-left: 69px
    margin-top: 54px
    background-size: contain
    background-repeat: no-repeat
    .mission-label
      position: absolute
      font-family: 'Yanone Kaffeesatz'
      font-weight: bold
      font-size: 1.4rem
      color: #555555
      margin-top: 17px
    .mission-label-text
      margin-left: 79px
      margin-top: 20px
    .mission-label-value
      margin-left: 187px
      margin-top: 20px

  .tutorial-activate
    position: absolute
    left: 1800px
    top: 40px
    width: 100px
    height: 100px
    background-image: url('../resources/fablevision/huds/tutorial_questionmark_button_base.png')
    .tutorial-icon
      background-image: url('../resources/fablevision/huds/tutorial_questionmark_button.png')
      background-repeat: no-repeat
      background-position: center
      width:100%
      height:100%
      cursor:pointer

.next-trial-button
  position: absolute
  width: 237px
  height: 161px
  background-image: url('../resources/fablevision/huds/Trial_screen.png')
  background-size: cover
  top: 0
  margin-top: 897px
  margin-left: 1654px
  z-index: 4
  cursor: pointer
  .next-trial-text
    margin-top: 50px
    margin-left: 61px
    font-family: 'Yanone Kaffeesatz'
    font-size: 2.5rem

.gem-set
  transform: scale(.7)
  margin-top: 50px
