.fv-bottom-hud
  position: absolute
  bottom: 0px
  .geniblocks.level-indicator
    position: absolute
    left: 300px
    top: 54px
  .geniblocks.trial-count
    position: absolute
    left: 1400px
    top: 38px
