.geniblocks.breed-button-surround
  background: url('../resources/fablevision/layout-c/breed_surround.png')
  width: 315px
  height: 369px
  display: flex
  justify-content: center
  background-size: contain
  background-repeat: no-repeat
  align-items: center
  margin-left: -100px
  margin-right: -100px

  .breed-button
    width: 139px
    height: 138px
    display: flex
    justify-content: center
    align-items: center
    margin-top: -55px
    margin-right: -8px
    background: url('../resources/fablevision/layout-c/breed_button_unclicked.png')
    cursor: pointer

    &:active
      cursor: default
      background: url('../resources/fablevision/layout-c/breed_button_CLICKED.png')
      background-size: contain
      background-repeat: no-repeat

    &.disabled
      cursor: default
      background: url('../resources/fablevision/layout-c/breed_button_inactive.png')

    .breed-button-label
      font-size: 3rem
      color: white
