.geniblocks.breed-button-area
  width: 1001px
  height: 142px
  margin-top: 45px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  background-image: url('../resources/fablevision/layout-c/screen_eggsperm_box.png')

  .egg-image
    width: 115px
    height: 158px
    padding: 0
    margin-top: -5px
    background-image: url('../resources/fablevision/layout-d/egg_unclicked.png')
    background-size: contain
    background-repeat: no-repeat

  .organism
    width: 200px
    height: 200px
    margin-left: -35px
    margin-top: -10px

  .offspring-buttons
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    button
      margin: 3px
      padding: 4px
      width: 76px
