.geniblocks.breed-button-surround
  background: url('../resources/fablevision/layout-c/breed_surround.png')
  width: 236px
  height: 236px
  margin-top: -45px
  display: flex
  justify-content: center
  // adjust for empty space around image in asset we received from FableVision
  background-position: -69px -68px
  background-size: 370px 369px
  background-repeat: no-repeat
  align-items: center

  .breed-button
    width: 139px
    height: 138px
    display: flex
    justify-content: center
    align-items: center
    margin-top: -8px
    margin-left: 2px
    background: url('../resources/fablevision/layout-c/unclicked_breed_button.png')
    cursor: pointer
    color: #1C3CDB

    &:active
      cursor: default
      background: url('../resources/fablevision/layout-c/clicked_breed_button.png')
      background-size: contain
      background-repeat: no-repeat
      color: #ADD8E6

    &.disabled
      cursor: default
      background: url('../resources/fablevision/layout-c/inactive_breed_button.png')
      color: #ADD8E6

    .breed-button-label
      font-size: 3rem
