.geniblocks.fv-button
  display: flex
  justify-content: center
  align-items: center
  background-position: 50% 50%
  background-repeat: no-repeat
  cursor: pointer
  color: #3b74ff

  &:active
    color: #82ebfe

  &.disabled
    color: #409ef6

  .button-label
    font-size: 3rem
