.layout-b
  .geniblocks.breed-button-surround
    margin-top: 300px

  .geniblocks.target-drake-container
    background-image: url('../resources/fablevision/layout-b/target_gizmo_single.png')
    margin-top: -853px
    width: 400px
    height: 362px
    background-size: contain
    background-repeat: no-repeat
