
#challenges.mission-backdrop.fv-layout-h
  background-position: 50% 50%
  background-repeat: no-repeat

  &.create-unique
    background-image: url('../resources/fablevision/layout-a/screen_border.png'),
                      url('../resources/fablevision/layout-b/background.jpg')

  &.submit-parents
    background-image: url('../resources/fablevision/layout-a/screen_border.png'),
                      url('../resources/fablevision/layout-h/background.jpg')

  .center-column
    width: 674px
    display: flex
    margin-top: -3px

  .geniblocks.parentDrake
    height: 240px
    margin: -17px 0 -45px 0
    position: relative
    &.mother, &.father
      margin-right: 0px
      margin-left: 0px
      .parentTitle
        position: absolute
        top:  56px
        color: #f9ec9a
      .organism
        position: absolute
        top: -22px

    &.mother
      background-image: none
      left: 53px
      .parentTitle
        left: -10px
      .organism
        left: 112px

    &.father
      background-image: none
      left: -33px
      .parentTitle
        left: 346px
      .organism
        left:  64px

  &.submit-parents
    .geniblocks.parentDrake
      margin: 0
      &.mother, &.father
        .parentTitle
          top: 137px
      &.mother
        left: 0px
        .parentTitle
          left: -27px
      &.father
        left: 0px
        .parentTitle
          left: 388px

  .geniblocks.genome.parent
    margin-top: 40px

  .geniblocks.target-drake-container
    background-image: url('../resources/fablevision/layout-h/target_gizmo_single.png')
    margin: -87px 0 17px 0
    // margin-top: -87px;
    width: 400px
    height: 362px
    flex-direction: column
    align-items: center
    .organism
      margin: 65px 0 0 -14px
    .target-drake-text
      margin-top: -4px
      margin-left: 5px

  &.submit-parents
    .geniblocks.target-drake-container
      background-image: none
      margin: -53px 0 50px 0
      .drakes
        display: flex
        justify-content: space-around
        width: 500px
      .target-drake-text
        color: #B05E22
        font-size: 38px
        margin: -16px 0 0 0

  .geniblocks.clutch-view
    margin-top: -3px
    height: 323px
    width: 577px
    background: none

    .clutch-slider
      width: 169px
      height: 29px
      background-repeat: no-repeat
      background-position-y: 50%
      &.left
        background-image: url('../resources/fablevision/layout-b/Clutch_Slider_Arrow_L.png'),
                          url('../resources/fablevision/layout-h/slider_track.jpg')
      &.right
        background-image: url('../resources/fablevision/layout-b/Clutch_Slider_Arrow_R.png'),
                          url('../resources/fablevision/layout-h/slider_track.jpg')
        background-position-x: 100%

    .clutch-counter
      width: 100%
      justify-content: space-between
      margin-top: 5px
      z-index: 10       // there's a slight overlap with lower drakes

      .stable-count
        margin-left: 90px

    .clutch-slider
      margin-top: 0

    .clutch-page-count
        margin-left: 0px

    .drake-pages
      height: 80%

      .clutch-drakes
        display: flex
        flex-direction: row
        height: 100%
        margin: 0
        align-self: flex-end
        justify-content: space-around
        align-content: space-around

        .stable-drake-overlay
          background-image: url('../resources/fablevision/layout-h/pen_circle.png')
          margin: 0

  .geniblocks.breed-button-area
    background-image: none
    height: auto
    width: auto
    margin-top: 23px

  .geniblocks.breed-button-surround
    background: none
    height: auto
    width: auto
    margin-top: 0

    .breed-button
      width: 236px
      height: 118px
      background: url('../resources/fablevision/layout-b/breed_on.png')
      color: #95471f

      &:active
        background: url('../resources/fablevision/layout-b/breed_on_clicked.png')

      &.disabled
        background: url('../resources/fablevision/layout-b/breed_off.png')

        .breed-button-label
          font-size: 3rem

  #bottom-buttons
    display: flex
    justify-content: center

    .submit-parents-button
      color: #95471f
      background-image: url('../resources/fablevision/layout-h/submitparent_button_unclicked.png')
      width: 255px
      height: 100px
      .button-label
        font-size: 2rem
      &:active
        background-image: url('../resources/fablevision/layout-h/submitparent_button_clicked.png')
