.geniblocks.counter
  width: 158px
  height: 107px
  background-image: url('../resources/fablevision/huds/Trial_screen.png')
  background-size: 100% 100%

  .hud-text-area
    position: relative
    text-align: center
    left: 0
    top: 25px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: 'Yanone Kaffeesatz'
    font-weight: bold
    font-size: 1.4rem
    line-height: 1.15
    color: #555555


  &.blue
    background-image: url('../resources/fablevision/huds/move-screens/blue_moves.png')
  &.yellow
    background-image: url('../resources/fablevision/huds/move-screens/yellow_moves.png')
  &.red
    background-image: url('../resources/fablevision/huds/move-screens/red_moves.png')
  &.black
    background-image: url('../resources/fablevision/huds/move-screens/null_moves.png')
    .hud-text-area
      color: #AAA
      width: 100%
      .count-label
        padding: 0 60px 0 60px

.os-windows
  .geniblocks.counter
    .hud-text-area
      margin-top: 0.1rem
