.geniblocks.egg-hatch-drake
  pointer-events: none
  .egg-image
    background: url('../resources/fablevision/layout-c/egg_animation.png')
    background-position-y: 50%
    background-position-x: 0%
    width: 1052px
    height: 946px
    margin-top: 120px
    margin-left: 20px
    position: relative
    z-index: 2
    pointer-events: none

  .organism
    width: 200px
    height: 200px
    margin-left: -100px
    margin-top: -120px
