.you-earned-text
  font-size: 3rem
  margin-top: 50px
#end-level-separator-2
  margin-top: 110px
.gem-info
  .gem-win-box
    width: 263px
    height: 263px
    background-image: url('../resources/fablevision/venture-pad/gemwin_box.png')
    margin-left: 50px
    margin-top: 50px
    .gem-container
      margin-left: 85px
      margin-top: 50px
      position: absolute
    .gem-won-text
      font-size: 2rem
      text-align: center
      margin-top: 238px
      position: absolute
      width: 263px
  .gem-set
    margin-top: -215px
    margin-left: 300px

.end-level-navigation-buttons
  display: flex
  flex-direction: row
  margin-top: 140px
  &.disabled
    opacity: 0.5
  .continue-button-container
    display: flex
    flex-direction: row
    margin-left: 237px
    font-size: 3rem
    .continue-button
      width: 64px
      height: 64px
      background-image: url('../resources/fablevision/venture-pad/continue_button.png')
      margin-left: 20px
      cursor: pointer
  .try-again-button-container
    display: flex
    flex-direction: row
    font-size: 3rem
    .try-again-text
      display: inline-block
      white-space:nowrap
      margin-left: -5px
    .try-again-button
      width: 87px
      background-image: url('../resources/fablevision/venture-pad/replay_button.png')
      background-size: contain
      background-repeat: no-repeat
      cursor: pointer
