.end-level-dialog-container
  outline: none
  font-family: 'Yanone Kaffeesatz'
  font-size: 4rem
  color: white

  .end-level-dialog-backdrop
    position: fixed
    zIndex: 10
    top: 0
    bottom: 0
    left: 0
    right: 0
    backgroundColor: '#000'
    opacity: 0.9

  .end-level-dialog-background
    position: absolute
    top: 7%
    left: 28%
    width: 921px
    height: 894px
    background-image: url('../resources/fablevision/venture-pad/screen_behind.png')
    background-position: 30% 50%
    background-repeat: no-repeat
    z-index: 11

  .end-level-dialog-screen
    position: absolute
    top: 7%
    left: 28%
    width: 921px
    height: 894px
    z-index: 12
    margin-left: 70px
    background-size: cover
    background-repeat: no-repeat
    .challenge-complete-text
      margin-top: 80px
    .end-level-flavor-text
      font-size: 1rem
      color: gray
    .you-earned-text
      font-size: 3rem
      margin-top: 50px
    .end-level-separator
      position: absolute
      width: 720px
      height: 3px
      background-color: gray
      &#end-level-separator-1
        margin-top: 20px
      &#end-level-separator-2
        margin-top: 40px
    .gem-info
      display: flex
      flex-direction: row
      .gem-win-box
        width: 263px
        height: 263px
        background-image: url('../resources/fablevision/venture-pad/gemwin_box.png')
        margin-left: 50px
        margin-top: 50px
        .gem-container
          margin-left: 85px
          margin-top: 50px
          position: absolute
        .gem-won-text
          font-size: 2rem
          text-align: center
          margin-top: 238px
          position: absolute
          width: 263px
      .gem-set
        margin-top: 55px
        margin-left: 85px

    .end-level-navigation-buttons
      display: flex
      flex-direction: row
      margin-top: 75px
      .continue-button-container
        display: flex
        flex-direction: row
        margin-left: 250px
        font-size: 3rem
        .continue-button
          width: 64px
          height: 64px
          background-image: url('../resources/fablevision/venture-pad/continue_button.png')
          margin-left: 20px
          cursor: pointer
      .try-again-button-container
        display: flex
        flex-direction: row
        font-size: 3rem
        .try-again-text
          display: inline-block
          white-space:nowrap
          margin-left: -5px
        .try-again-button
          width: 87px
          background-image: url('../resources/fablevision/venture-pad/replay_button.png')
          background-size: contain
          background-repeat: no-repeat
          cursor: pointer

  .end-level-dialog-overlay
    position: absolute
    top: 7%
    left: 28%
    width: 921px
    height: 894px
    background-image: url('../resources/fablevision/venture-pad/frame.png'),
                      url('../resources/fablevision/venture-pad/screen_over.png')
    background-position: 50% 50%, 30% 50%
    background-repeat: no-repeat
    pointer-events: none
    z-index: 13
