.fv-chromosome-image
  height: 25px
  width: 5px

.fv-chromosome-image.small
  height: 100px
  width: 20px

.fv-chromosome-image
  background: url('../resources/fablevision/layout-c/chromosome_lite.png')
  background-size: contain
  background-repeat: no-repeat

.fv-chromosome-image.empty
.parent .fv-chromosome-image.bold
  background: url('../resources/fablevision/layout-c/chromosome_dark.png')
  background-size: contain
  background-repeat: no-repeat
