.fv-layout-d
  .animated-egg-image
    background: url('../resources/fablevision/layout-c/egg_animation.png')
    background-position-y: 50%
    background-position-x: 0%
    width: 1052px
    height: 946px
    position: absolute
    z-index: 2

  #mission-wrapper
    margin: 70px 0 0 0
    width: 100%

    #egg-sort-game
      width: 100%
      display: flex
      flex-direction: row

      #eggs
        width: 100%
        height: 100%

      .clutch-egg
        background: url('../resources/fablevision/layout-d/egg_unclicked.png')
        background-position: 50% 50%
        background-repeat: no-repeat
        width: 115px
        height: 158px
        opacity: 1
        position: absolute
        margin-left: 49px
        margin-top: 49px
        z-index: 1
        &.selected
          z-index: 0
          margin-left: 0
          margin-top: 0
          width: 213px
          height: 256px
          background: url('../resources/fablevision/layout-d/egg_clicked.png')

      #baskets
        width: inherit
        .basket-set
          width:inherit
          align-items: flex-start
          .basket
            bottom: 300px
            right: 250px
            .basket-image
              background: url('../resources/fablevision/layout-d/basket_inactive.png')
              width: 505px
              height: 503px
              background-size: contain
              position: absolute
            &.selected .basket-image
              background: url('../resources/fablevision/layout-d/basket.png')
              cursor: pointer
            .basket-label
              width: 80px
              left: 230px
              top: 375px
              font-family: 'Yanone Kaffeesatz'
              position: absolute
              text-align: center

      #left-section
        width: 1156px
        display: flex
        justify-content: center
        align-items: center

      #right-section
        position: static

        #container
          background: none
          border: none
          font-family: 'Yanone Kaffeesatz'

          #background
            background: none
            border: none

      .chromomatic
        height: 871px
        width: 764px
        background: url('../resources/fablevision/layout-d/chromomatic.png')
        display: flex
        justify-content: center
        align-items: center
        z-index: 2
        margin-left: 10px
