.animated-egg-image
  background-image: url('../resources/fablevision/layout-c/egg_animation.png')
  background-position-y: 50%
  background-position-x: 0%
  width: 1052px
  height: 946px
  position: absolute
  z-index: 2