.fv-layout-d 
  .straw
    width: 1920px
    height: 375px
    position: absolute
    top: 195px
    background-image: url('../resources/fablevision/layout-d/straw_over.png')
    background-repeat: no-repeat
    pointer-events: none
    z-index: 1

  #egg-0
    top: 63px
    left: 20px
    transform: rotate(-17deg)

  #egg-1
    top: 131px
    left: 178px
    transform: rotate(20deg)

  #egg-2
    top: 131px
    left: 306px
    transform: rotate(-3deg)
    
  #egg-3
    top: 208px
    left: 468px
    transform: rotate(-45deg)

  #egg-4
    top: 208px
    left: 615px
    transform: rotate(-40deg)

  #egg-5
    top: 168px
    left: 745px
    transform: rotate(-40deg)

  #egg-6
    top: 158px
    left: 892px
    transform: rotate(-40deg)

  #egg-7
    top: 168px
    left: 1031px
    transform: rotate(-22deg)