.fv-layout-d
  #mission-wrapper
    margin: 70px 0 0 0
    width: 100%

    #egg-sort-game
      width: 100%
      display: flex
      flex-direction: row

      .clutch-egg
        background: url('../resources/fablevision/layout-d/egg_unclicked.png')
        width: 115px
        height: 158px
        background-size: contain

      #baskets
        width: inherit
        .basket-set
          width:inherit
          align-items: flex-start
          .basket
            bottom: 300px
            right: 250px
            .basket-image
              background: url('../resources/fablevision/layout-d/basket.png')
              width: 505px
              height: 503px
              background-size: contain
              position: absolute
            .basket-label
              width: 80px
              left: 230px
              top: 375px
              font-family: 'Yanone Kaffeesatz'
              position: absolute
              text-align: center

      #left-section
        width: 1156px
        display: flex
        justify-content: center
        align-items: center

      #right-section
        position: static

        #container
          background: none
          border: none
          font-family: 'Yanone Kaffeesatz'

          #background
            background: none
            border: none

      .chromomatic
        height: 871px
        width: 764px
        background: url('../resources/fablevision/layout-d/chromomatic.png')
        display: flex
        justify-content: center
        align-items: center
