.geniblocks.genome #mountNode .react-selectize-control
  display: flex
  flex-direction: row
  height: 26px
  border-radius:12px;
  padding-left:10px;
  background-repeat:no-repeat
  background-size: 100% 100%
  color:white
  input
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5rem;
.rtl .fv-gene-option-value
  padding-left: 30px;

layout-a-background = #4c1fb6
layout-a-highlight = #eae1fe

layout-b-h-i-background = #cf670a
layout-b-h-i-highlight = #f7e88d

layout-c-e-background = #084875
layout-c-e-highlight = #0bebff

.fv-layout-a
  #mountNode .react-selectize-control
    background: layout-a-background
    border:2px solid layout-a-highlight
  .fv-gene-option
    background: layout-a-background
  .dropdown-menu
    border-color: layout-a-highlight !important;
    .option-wrapper
      background: layout-a-highlight;
.fv-layout-b
  #mountNode .react-selectize-control
    background: layout-b-h-i-background
    border:2px solid layout-b-highlight
  .fv-gene-option
    background: layout-b-h-i-background
  .dropdown-menu
    border-color: layout-b-h-i-highlight !important;
    .option-wrapper
      background: layout-b-h-i-highlight;
.fv-layout-c
  #mountNode .react-selectize-control
    background: layout-c-e-background
    border:2px solid layout-c-e-highlight
  .fv-gene-option
    background: layout-c-e-background
  .dropdown-menu
    border-color: layout-c-e-highlight !important;
    .option-wrapper
      background: layout-c-e-highlight;
.fv-layout-e
  #mountNode .react-selectize-control
    background: layout-c-e-background
    border:2px solid layout-c-e-highlight
  .fv-gene-option
    background: layout-c-e-background
  .dropdown-menu
    border-color: layout-c-e-highlight !important;
    .option-wrapper
      background: layout-c-e-highlight;
.fv-layout-h
  #mountNode .react-selectize-control
    background: layout-b-h-i-background
    border:2px solid layout-b-h-i-highlight
  .fv-gene-option
    background: layout-b-h-i-background
  .dropdown-menu
    border-color: layout-b-h-i-highlight !important;
    .option-wrapper
      background: layout-b-h-i-highlight;
.fv-layout-i
  #mountNode .react-selectize-control
    background: layout-b-h-i-background
    border:2px solid layout-b-h-i-highlight
  .fv-gene-option
    background: layout-b-h-i-background
  .dropdown-menu
    border-color: layout-b-h-i-highlight !important;
    .option-wrapper
      background: layout-b-h-i-highlight;

.react-selectize-toggle-button-container
  background: url('../resources/images/arrow.svg')
  background-repeat: no-repeat
  background-size:60%
  background-position: center center
.ltl .react-selectize-toggle-button-container
  border-left: 2px solid white
.rtl .react-selectize-toggle-button-container
  position:absolute
  border-right: 2px solid white
  left:0px;

.react-selectize-toggle-button
  display:none

.dropdown-menu
  border: 1px solid #666;
  border-color: #333 !important;
  background: black;
  top:0px
  border-radius: 12px !important
  padding:1px
  box-shadow: 0px 0px 15px #333;
  .option-wrapper
    padding:2px 1px 1px 1px;
    background: #fff;
    &.highlight
      background: #fff !important;

.fv-gene-option
  width:100%
  color:white
  padding:6px 0px;
  border-radius: 12px

  :hover
    border-radius: 12px;
    background: #444;
  div
    padding-left:16px;
    font-size:1.1em !important
  .selected
    position:relative;
    float:left;
    margin-left:-2px;
    color:#fff;
    background: url('../resources/images/arrow.svg')
    background-repeat: no-repeat
    background-size:80%
    transform: rotate(270deg)
    background-position: center center
.react-selectize.root-node
    position: relative;
    width: 158px;
    input
      color: transparent
      text-shadow: 0 0 0 black;

.geniblocks.genome
    #mountNode
      position: relative
      z-index: 1
      margin-left: -10px
      .react-selectize-search-field-and-selected-values
        height: 10px
        display: flex
        flex-direction: row
    .rtl #mountNode
      margin-right: -10px

.geniblocks.genome .fl #mountNode
  margin-top: -30px

.geniblocks.genome #mountNode .react-selectize-search-field-and-selected-values
  height: 40px
  display: flex
  flex-direction: row

.geniblocks.fv-gene-label.allele.noneditable
  &.m
    z-index: 8
  &.w
    z-index: 7
  &.h
    z-index: 6
  &.c
    z-index: 5
  &.b
    z-index: 4
  &.fl
    z-index: 3
  &.hl
    z-index: 2
  &.a
    z-index: 1

.fv-layout

  .geniblocks.fv-gene-label
    font-family: 'Yanone Kaffeesatz'
    font-size: 1.5rem
    color: white
    position: absolute
    display: flex
    flex-direction: row
    justify-content: flex-end
    z-index: 2

  .geniblocks.chromosome-container .items.ltl .labels
    justify-content: flex-start
    padding-left: 30px

  .geniblocks.chromosome-container .items.rtl .labels
    justify-content: flex-start
    padding-right: 30px

  &.fv-layout-a .geniblocks.chromosome-container .items.rtl .labels .fv-gene-label
    right: 1490px

  &.fv-layout-d .geniblocks.chromosome-container .items.rtl .labels .fv-gene-label
    right: 235px

  &.fv-layout-c .mother .geniblocks.chromosome-container .items.rtl .labels .fv-gene-label
    right: 235px

  &.fv-layout-c .father .geniblocks.chromosome-container .items.rtl .labels .fv-gene-label
    right: 360px

  &.fv-layout-c .half-genome .geniblocks.chromosome-container .items.rtl .labels .fv-gene-label
    right: 55px

  .line
    position: absolute
    margin-top: -3px
    background-color: #fff
    width: 20px
    height: 2px
    top: 15px
    left: -27px

  .fv-gene-label-text
    margin-top: -3px
    margin-left: -2px
    margin-right: -2px

  .items.rtl .line
    margin-left: auto
    left: 0px
    right: -27px

  .small .stripe
    position: absolute
    background-color: #fff
    width: 19px
    height: 10px
    top: 11px
    left: 0px

  .items.rtl .small .stripe
    margin-left: auto
    left: 0px
    right: -19px

  .t
    #mountNode
      margin-top: -23px
    .fv-gene-label-text
      margin-top: -19px

  .fl .line
    width: 25px

  .h
    .line
      width: 21px
    #mountNode
      margin-top: -6px

  .fl
    .line
      margin-top: -7px
      width: 25px
    #mountNode
      margin-top: 25px
    .fv-gene-label-text
      margin-top: -21px

  .w
    .line
      margin-top: -7px
      width: 25px
    #mountNode
      margin-top: -23px
    .fv-gene-label-text
      margin-top: -24px

  .a
    .line
      margin-top: 6px
      width: 25px
    #mountNode
      margin-top: 31px
    .fv-gene-label-text
      margin-top: 19px

  .c
    .line
      margin-top: -7px
      width: 25px
    #mountNode
      margin-top: -16px
    .fv-gene-label-text
      margin-top: -20px

  .b
    .line
      margin-top: 3px
      width: 25px
    #mountNode
      margin-top: 7px
    .fv-gene-label-text
      margin-top: 10px

  .d
    #mountNode
      margin-top: 3px

  .bog
    .line
      margin-top: 3px
      width: 25px
    #mountNode
      margin-top: 30px
    .fv-gene-label-text
      margin-top: 12px

  .ltl .t .line
    transform: rotate(-35deg)
    left: -30px
    top: 12px

  .rtl .t .line
    transform: rotate(35deg)
    right: -29px
    top: 12px

  .ltl .w .line
    transform: rotate(-35deg)
    left: -30px
    top: 12px

  .rtl .w .line
    transform: rotate(35deg)
    right: -29px
    top: 12px

  .ltl .c .line
    transform: rotate(-35deg)
    left: -30px
    top: 12px

  .rtl .c .line
    transform: rotate(35deg)
    right: -29px
    top: 12px

  .ltl .fl .line
    transform: rotate(-35deg)
    left: -30px
    top: 12px

  .rtl .fl .line
    transform: rotate(35deg)
    right: -29px
    top: 12px

  .ltl .a .line
    transform: rotate(42deg)
    top: 15px
    left: -30px

  .rtl .a .line
    transform: rotate(-42deg)
    top: 15px
    right: -30px

  .ltl .b .line
    transform: rotate(25deg)
    top: 15px
    left: -30px

  .rtl .b .line
    transform: rotate(-25deg)
    top: 15px
    right: -30px

  .ltl .bog .line
    transform: rotate(35deg)
    top: 20px
    left: -30px

  .rtl .bog .line
    transform: rotate(-35deg)
    top: 20px
    right: -30px
