.fv-layout-a
  &.mission-backdrop
    background-image: url('../resources/fablevision/layout-a/screen_border.png'),
                      url('../resources/fablevision/layout-a/screen_center_box.png'),
                      url('../resources/fablevision/layout-a/screen_R_chromosome_box.png'),
                      url('../resources/fablevision/layout-a/screen_L_chromosome_box.png'),
                      url('../resources/fablevision/layout-a/screen_top_lines.png'),
                      url('../resources/fablevision/layout-a/screen.png')
    background-position: 50% 50%, 50% 25%, 100% 50%, 0% 50%, 50% 9%, 50% 50%
