.geniblocks.genome #mountNode .react-selectize-control
  display: flex
  flex-direction: row
  height: 40px
  input
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5rem;

.geniblocks.genome 
    #mountNode
      position: relative
      z-index: 1
      margin-left: -10px
      .react-selectize-search-field-and-selected-values
        height: 10px
        display: flex
        flex-direction: row
    .rtl #mountNode
      margin-right: -10px

.geniblocks.genome .fl #mountNode
  margin-top: -47px

.geniblocks.genome #mountNode .react-selectize-search-field-and-selected-values
  height: 40px
  display: flex
  flex-direction: row

.geniblocks.fv-gene-label.allele.noneditable
  &.w
    z-index: 4
  &.fl
    z-index: 3
  &.hl
    z-index: 2

.fv-layout

  .geniblocks.fv-gene-label
    font-family: 'Yanone Kaffeesatz'
    font-size: 1.5rem
    color: white
    position: absolute
    display: flex
    flex-direction: row
    justify-content: flex-end
    z-index: 2

  .geniblocks.chromosome-container .items.ltl .labels
    justify-content: flex-start
    padding-left: 25px

  .geniblocks.chromosome-container .items.rtl .labels
    justify-content: flex-start
    padding-right: 25px

  .line
    position: absolute
    background-color: #fff
    width: 20px
    height: 2px
    top: 15px
    left: -27px

  .items.rtl .line
    margin-left: auto
    left: 0px
    right: -27px

  .small .stripe
    position: absolute
    background-color: #fff
    width: 19px
    height: 10px
    top: 11px
    left: 0px

  .items.rtl .small .stripe
    margin-left: auto
    left: 0px
    right: -19px

  .fl .line
    width: 30px

  .ltl .fl .line
    transform: rotate(-35deg)
    left: -30px
    top: 10px

  .rtl .fl .line
    transform: rotate(35deg)
    right: -29px
    top: 10px