.ovum .gamete-container
  background-image: url('../resources/fablevision/layout-c/egg.png')
  background-size: contain
  background-repeat: no-repeat
  width: 178px
  height: 151px
  display: flex
  align-items: center

.sperm .gamete-container
  background-image: url('../resources/fablevision/layout-c/sperm_head.png'),
                    url('../resources/fablevision/layout-c/sperm_tail.png')
  // pin the tail on the sperm
  background-position: 0% 50%, 100% 53%
  background-size: 65% auto, 36% auto
  background-repeat: no-repeat
  width: 229px
  height: 150px
  display: flex
  align-items: center

.gamete-chromosomes
  margin-top: -17px
  margin-left: -6px

  .fv-chromosome-image
    margin-left: -6px
  