.ovum .gamete-container
  background: url('../resources/fablevision/layout-c/egg.png')
  background-size: contain
  background-repeat: no-repeat
  width: 178px
  height: 151px
  display: flex
  align-items: center

.sperm .gamete-container
  background: url('../resources/fablevision/layout-c/sperm_head.png')
  background-size: contain
  background-repeat: no-repeat
  width: 148px
  height: 150px
  display: flex
  align-items: center
