.fv-layout-a
  &.mission-backdrop
    background-image: url('../resources/fablevision/layout-a/screen_border.png'),
                      url('../resources/fablevision/layout-a/screen_center_box.png'),
                      url('../resources/fablevision/layout-a/screen_R_chromosome_box.png'),
                      url('../resources/fablevision/layout-a/screen_L_chromosome_box.png'),
                      url('../resources/fablevision/layout-a/screen_top_lines.png'),
                      url('../resources/fablevision/layout-a/screen_target_yourdrake.png'),
                      url('../resources/fablevision/layout-a/screen.png')
    background-position: 50% 50%, 50% 6%, 100% 35%, 0% 35%, 50% 9.5%, 50% -2%, 50% 50%
    background-size: auto, auto, auto, auto, auto, 250px auto, auto

  #mission-wrapper
    margin: 150px auto
    height: 750px

  #genome-challenge
    width: 100%

  &#challenges
    #left-column
      width: 450px
    #center-column
      width: 500px
    #right-column
      width: 450px

  .label-container
    margin-top: -70px
    width: 250px
    height: 100px
    display: flex
    justify-content: center
    align-items: center

  .your-drake-surround
    display: flex
    justify-content: center
    align-items: center
    width: 400px
    height: 402px
    margin-top: 10px
    background-image: url('../resources/fablevision/layout-a/screen_target_egg.png')
    background-position: 52% 47%

  &#challenges
    #mission-wrapper
      #your-drake-label
        margin: -5px 0 0 0
        font-family: 'Yanone Kaffeesatz';
        font-size: 2.5rem

  .hatch-drake-button
    width: 315px
    height: 120px
    display: flex
    justify-content: center
    align-items: center
    background-image: url('../resources/fablevision/layout-a/hatch_ON.png')
    cursor: pointer
    color: white

    &:active
      cursor: default
      background-image: url('../resources/fablevision/layout-a/hatch_OFF.png')
      background-position: 17px 17px
      background-size: auto
      background-repeat: no-repeat

    .hatch-drake-button-label
      font-size: 2.5rem

