.geniblocks.fv-stable
  display: flex
  flex-wrap: wrap
  margin-bottom: -40px
  padding: 2px
  height: 148px
  width: 1000px
  background: url('../resources/fablevision/layout-c/stable.png')
  background-repeat: no-repeat
  background-size: contain
