.geniblocks.fv-stable
  display: flex
  flex-wrap: wrap
  margin-bottom: -60px
  padding: 2px
  height: 226px
  width: 1400px
  background: url('../resources/fablevision/layout-c/stable.png')
  background-repeat: no-repeat
  background-size: contain
  justify-content: flex-start
  align-items: center
  flex-direction: column

  .stable-counter
    font-family: 'Yanone Kaffeesatz'
    font-size: 1.25rem
    color: white
    // margin-right: 30px
    margin-top: 2px
    display: flex
    flex-direction: row

    .stable-count
      margin-left: 68px

  .stable-drakes
    display: flex
    flex-direction: row
    margin-top: 20px
    margin-right: 30px
    align-self: flex-end

.os-windows
  .geniblocks.fv-stable
    .stable-counter
      margin-top: 0.4rem
