.fv-layout-zoom
  &.mission-backdrop
    background-image: none
    background-color: black

  #zoom-challenge-container
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0

    iframe
      width: 100%
      height: 100%
      border: none
