.gem-container
  .gem-fill
    width: 82px
    height: 158px
    background-size: contain
    background-repeat: no-repeat
  .gem-fill-0
    background-image: url('../resources/fablevision/venture-pad/gem_blue.png')
  .gem-fill-1
    background-image: url('../resources/fablevision/venture-pad/gem_yellow.png')
  .gem-fill-2
    background-image: url('../resources/fablevision/venture-pad/gem_red.png')

.gem-set
  display: flex
  flex-direction: row
  .gem-container
    margin-left: 5px
    width: 90px
    .gem-outline-highlight
      width: 100px
      height: 150px
      background-image: url('../resources/fablevision/venture-pad/gemslot_select.png')
      background-size: cover
      background-repeat: no-repeat
      margin-top: -10px
      margin-left: -15px
      .gem-fill
      .gem-outline
        position: absolute
        width: 73px
        height: 150px
        margin-left: 15px
        margin-top: 15px
        background-repeat: no-repeat
        background-size: contain
      .gem-outline
        background-image: url('../resources/fablevision/venture-pad/gemslot_empty.png')
        .gem-number-text
          position: absolute
          margin-left: 23px
          margin-top: 10px
          font-family: 'Yanone Kaffeesatz'
          font-size: 4rem
          color: white