.gem-container
  .gem-fill-0
    width: 106px
    height: 158px
    background-image: url('../resources/fablevision/venture-pad/gem_blue.png')
    background-size: contain
    background-repeat: no-repeat
  .gem-fill-1
    width: 106px
    height: 158px
    background-image: url('../resources/fablevision/venture-pad/gem_amber.png')
    background-size: contain
    background-repeat: no-repeat
  .gem-fill-2
    width: 106px
    height: 158px
    background-image: url('../resources/fablevision/venture-pad/gem_ruby.png')
    background-size: contain
    background-repeat: no-repeat

.gem-history .gem-container
  .gem-fill-0
    width: 90px
    margin-right: -10px
  .gem-fill-1
  .gem-fill-2
    width: 77px
    margin-left: 10px
  .gem-outline-highlight
    width: 100px
    height: 150px
    background-image: url('../resources/fablevision/venture-pad/gemslot_select.png')
    background-size: cover
    background-repeat: no-repeat
    margin-top: -10px
    .gem-fill-0
      width: 90px
      height: 150px
      position: absolute
      margin-left: 6px
      margin-top: 8px
      margin-right: 0px
    .gem-fill-1
    .gem-fill-2
      width: 71px
      position: absolute
      margin-left: 16px
      margin-top: 16px
      margin-right: 0px
  .gem-outline
    width: 78px
    height: 138px
    background-image: url('../resources/fablevision/venture-pad/gemslot_empty.png')
    background-repeat: no-repeat
    .gem-number-text
      position: absolute
      margin-left: 27px
      margin-top: 17px