.geniblocks.location-indicator
  width: 1096px
  height: 93px
  background-image: url('../resources/fablevision/huds/Location_bar.png')
  background-size: 100% 100%

  .hud-text-area
    position: relative
    left: 90px
    top: 16px
    width: 770px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: 'Yanone Kaffeesatz'
    font-weight: bold
    font-size: 2rem
    line-height: 1.15
    color: #DDDDDD

.os-windows
  .geniblocks.location-indicator
    .hud-text-area
      margin-top: 0.2rem
