.navigation-dialog
  .gem-container
    margin-top: -30px
  .level-indicator .level-title
    font-size: 3rem
    position: absolute
    margin-left: 467px
    margin-top: -172px
  .level-navigation
    display: flex
    flex-direction: row
    position: absolute
    margin-top: -110px
    margin-left: 400px
    width: 225px
    justify-content: space-around
    .level-label
      border: 4px solid #777
      border-radius: 10px
      width: 66px
      height: 95px
      text-align: center
    .level-nav-button
      width: 50px
      height: 50px
      margin-top: 22px
      cursor: pointer
    #prev-level-button
      background-image: url('../resources/fablevision/venture-pad/left_nav_button.png')
    #next-level-button
      background-image: url('../resources/fablevision/venture-pad/right_nav_button.png')
  #gem-label-0
    margin-top: 20px