.geniblocks.parentDrake
  color : white
  display: flex
  flex-direction: row
  align-items: flex-start
  font-family: 'Yanone Kaffeesatz'; 
  font-size: 40px

  &.mother
    background: url('../resources/fablevision/layout-c/female_drake_overlay.png')
    justify-content: flex-end
    background-size: contain
    background-repeat: no-repeat
    height: 144px
    width: 359px
    .organism
      margin-right: 20px

  &.father
    background: url('../resources/fablevision/layout-c/male_drake_overlay.png')
    justify-content: flex-start
    background-size: contain
    background-repeat: no-repeat
    height: 144px
    width: 359px
    .organism
      margin-left: 20px

  .parentTitle
    margin-top: 10px
