.room
  background-position: 50% 7.25%, 50% 48%, 50% 50%

  &.breedingbarn
    background-image: url('../resources/fablevision/rooms/hatchingbarn.jpg')
  &.hatchery
    background-image: url('../resources/fablevision/rooms/hatchery.jpg')
  &.missioncontrol
    background-image: url('../resources/fablevision/rooms/missioncontrol.jpg')
  &.simroom
    background-image: url('../resources/fablevision/rooms/simroom.jpg')
  &.zoomroom
    background-image: url('../resources/fablevision/rooms/zoom.jpg')
