.room
  background-position: 50% 7.25%, 50% 48%, 50% 50%

  &.breedingbarn
    background-image: url('../resources/fablevision/rooms/hatchingbarn.jpg')
    .hotspot
      top: 10%
      left: 0
      height: 76%
      width: 85%
  &.hatchery
    background-image: url('../resources/fablevision/rooms/hatchery.jpg')
    .hotspot
      top: 10%
      left: 0
      height: 54%
      width: 100%
  &.home
    background-image: url('../resources/fablevision/rooms/missioncontrol.jpg')

  &.simroom
    background-image: url('../resources/fablevision/rooms/simroom.jpg')
    .hotspot
      left: 30%
      top: 30%
      width: 30%
      height: 30%
  &.zoomroom
    background-image: url('../resources/fablevision/rooms/zoom.jpg')
    .hotspot
      left: 0
      top: 10%
      height: 75%
      width: 56%

#enter-challenge-hotspot
  position: absolute
  cursor: pointer

// ******** Room Easter Eggs *********

#easter-egg-trigger
  position: absolute
  cursor: pointer
  z-index: 16

#easter-egg
  cursor: pointer
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  &.hidden
    position: absolute
    left: 50%
    top: 50%
    width: 0
    height: 0
    overflow: hidden
    opacity: 0.3
  &.visible
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: 30
    background-color: rgba(0, 0, 0, 0.7)
    opacity: 1
#easter-egg-image
  width: 100%
  height: 100%
  background-size: contain
  background-repeat: no-repeat
  background-position: 50%

#close-easter-egg
  position: absolute
  right: 50px
  top: 50px
  font-size: 3rem
  color: white
  font-family: sans-serif

.home
  #easter-egg-trigger
    left: 1461px
    top: 421px
    width: 180px
    height: 252px
  #easter-egg.hidden
    left: 1530px
    top: 550px
  #easter-egg-image
    background-image: url('../resources/fablevision/rooms/eastereggs/missioncontrol-small-screen-right-kingdom_map03.jpg')

.simroom
  #easter-egg-trigger
    left: 1219px
    top: 837px
    width: 100px
    height: 77px
  #easter-egg.hidden
    left: 1250px
    top: 870px
  #easter-egg-image
    background-image: url('../resources/fablevision/rooms/eastereggs/simroom-floor-notebook4.jpg')

.zoomroom
  #easter-egg-trigger
    left: 1600px
    top: 637px
    width: 140px
    height: 274px
    transform: rotate(30deg)
  #easter-egg.hidden
    left: 1700px
    top: 750px
  #easter-egg-image
    background-image: url('../resources/fablevision/rooms/eastereggs/zoomroom-rolled-up-poster-drakecolorposter4.jpg')


// ******** Room Sprite Animations *********

.room-sprite
  position: absolute
  pointer-events: none

&.home
  #sprite-1
    background-image: url('../resources/fablevision/rooms/sprites/mission_control/MissionControl_spritesheet-group1_150x203-tiny.png')
    width: 150px
    height: 203px
    left: 511px
    top: 495px
    animation: MissionControl_spritesheet-group1 7s steps(17) infinite
  #sprite-2
    background-image: url('../resources/fablevision/rooms/sprites/mission_control/MissionControl_spritesheet-group2_206x227-tiny.png')
    width: 206px
    height: 227px
    left: 800px
    top: 500px
    animation: MissionControl_spritesheet-group2 5s steps(23) infinite

@keyframes MissionControl_spritesheet-group1 {
  0% {
    background-position:    0px
  }
  20%, 100% {
    background-position: -2550px
  }
}

@keyframes MissionControl_spritesheet-group2 {
  0% {
    background-position:    0px
  }
  20%, 100% {
    background-position: -4738px
  }
}

&.simroom
  #sprite-1
    background-image: url('../resources/fablevision/rooms/sprites/sim_room/outerpaper_spritesheet700x644-tiny.png')
    width: 700px
    height: 568px
    left: 0px
    top: 38px
    animation: outerpaper_spritesheet 3s steps(24) infinite
  #sprite-2
    background-image: url('../resources/fablevision/rooms/sprites/sim_room/RollMachine_spritesheet682x700-tiny.png')
    width: 682px
    height: 700px
    left: 1011px
    top: 162px
    animation: RollMachine_spritesheet 4s steps(23) infinite

@keyframes outerpaper_spritesheet {
  0% {
    background-position: 0px
  }
  100% {
    background-position: -16800px
  }
}

@keyframes RollMachine_spritesheet {
  0% {
    background-position:    0px
  }
  100% {
    background-position: -15686px
  }
}

&.hatchery
  #sprite-1
    background-image: url('../resources/fablevision/rooms/sprites/hatchery/HATCHERY_animation_spritesheet730x262-tiny.png')
    width: 730px
    height: 262px
    left: 0
    top: 387px
    animation: HATCHERY_animation_spritesheet 2s steps(13) infinite

@keyframes HATCHERY_animation_spritesheet {
  0%, 70% {
    background-position: 0px
  }
  100% {
    background-position: -9490px
  }
}

&.breedingbarn
  #sprite-1
    background-image: url('../resources/fablevision/rooms/sprites/breeding_barn/FlyingDrake_Spritesheet_356x215-tiny.png')
    width: 356px
    height: 215px
    left: 709px
    top: 0
    animation: FlyingDrake_Spritesheet 10s steps(22) infinite
  #sprite-2
    background-image: url('../resources/fablevision/rooms/sprites/breeding_barn/Tail-Orange_Spritesheet_375x454-tiny.png')
    width: 360px
    height: 454px
    left: 566px
    top: 243px
    animation: Tail-Orange_Spritesheet 7s steps(24) infinite
  #sprite-3
    background-image: url('../resources/fablevision/rooms/sprites/breeding_barn/Tail-Blue_Spritesheet164x195-tiny.png')
    width: 164px
    height: 195px
    left: 1200px
    top: 100px
    // background-position: -2624px
    animation: Tail-Blue_Spritesheet 12s steps(15) infinite

@keyframes FlyingDrake_Spritesheet {
  75% {
    background-position: 0px
  }
  100% {
    background-position: -7832px
  }
}

@keyframes Tail-Orange_Spritesheet {
  0%, 30% {
    background-position:    0px
  }
  100% {
    background-position: -9000px
  }
}

@keyframes Tail-Blue_Spritesheet {
  0% {
    background-position:    0px
  }
  20%, 100% {
    background-position: -2460px
  }
}


