.room
  background-position: 50% 7.25%, 50% 48%, 50% 50%

  &.breedingbarn
    background-image: url('../resources/fablevision/rooms/hatchingbarn.jpg')
    .hotspot
      top: 10%
      left: 0
      height: 76%
      width: 85%
  &.hatchery
    background-image: url('../resources/fablevision/rooms/hatchery.jpg')
    .hotspot
      top: 10%
      left: 0
      height: 54%
      width: 100%
  &.missioncontrol
    background-image: url('../resources/fablevision/rooms/missioncontrol.jpg')
  &.simroom
    background-image: url('../resources/fablevision/rooms/simroom.jpg')
    .hotspot
      left: 30%
      top: 30%
      width: 30%
      height: 30%
  &.zoomroom
    background-image: url('../resources/fablevision/rooms/zoom.jpg')
    .hotspot
      left: 0
      top: 10%
      height: 75%
      width: 56%

#enter-challenge-hotspot
  position: absolute
  cursor: pointer
