.fv-layout 
  .stable-drakes
    margin-right: 10px

  .stable-drake-overlay
    background-image: url('../resources/fablevision/layout-c/stable_drake_background.png')
    display: flex
    justify-content: center
    background-size: contain
    background-repeat: no-repeat
    height: 85px
    width: 85px
    margin-top: 10px
    margin-right: 15px
    .organism
      margin-top: -23px
      margin-left: -20px
  &.fv-layout-a .stable-drake-overlay
    background-image: url('../resources/fablevision/layout-a/stable_drake_background.png')
