.geniblocks .stable-drake-overlay
  background: url('../resources/fablevision/layout-c/stable_drake_background.png')
  display: flex
  justify-content: center
  background-size: contain
  background-repeat: no-repeat  

  .organism
    margin-bottom: 50px
    margin-right: 20px
