.geniblocks.target-drake-container
  display: flex
  flex-direction: row
  height: 204px
  width: 520px
  background: url('../resources/fablevision/layout-c/target_drake_gizmo.png')
  background-repeat: no-repeat
  background-size: cover
  justify-content: center
  align-self: center
  z-index: 3

  .target-drake-text
    font-family: 'Yanone Kaffeesatz'
    font-size: 30px
    color: white
    margin-top: 70px
    margin-left: -10px

  .organism
    margin-top: 10px