.geniblocks.target-drake-container
  display: flex
  flex-direction: row
  height: 195px
  width: 500px
  background: url('../resources/fablevision/layout-c/target_drake_gizmo.png')
  background-repeat: no-repeat
  background-size: cover
  justify-content: center
  align-self: center
  z-index: 3
  position:absolute
  bottom: 2px

  .target-drake-text
    font-family: 'Yanone Kaffeesatz'
    font-size: 30px
    color: white
    margin-top: 70px
    margin-left: -10px

  .organism
    margin-top: 10px

.fv-layout-h .geniblocks.target-drake-container
  position: relative;