.fv-top-hud
  z-index: 2
  position: absolute
  top: 0px
  .geniblocks.location-indicator
    position: absolute
    left: 654px
    top: 0px
  .map-button-container
    z-index: 3
    cursor: pointer
    position: absolute
    margin-top: -34px
    margin-left: -400px
    border-radius: 50px
    box-shadow: 0 0 15px 3px #291800;
    .map-button
      width: 100px
      height: 50px
      background-image: url('../resources/fablevision/huds/map_button.png')