.fv-top-hud
  z-index: 2
  position: absolute
  top: 0px
  .geniblocks.location-indicator
    position: absolute
    left: 654px
    top: 0px
  .map-button
    width: 81px
    height: 53px
    background-image: url('../resources/fablevision/huds/map_button.png')
    z-index: 3
    margin-top: -71px
    margin-left: -732px
    cursor: pointer
