.fv-top-hud
  z-index: 2
  position: absolute
  top: 0px
  .geniblocks.location-indicator
    position: absolute
    left: 654px
    top: 0px
  .map-button-container
    z-index: 3
    cursor: pointer
    position: absolute
    margin-top: -34px
    margin-left: -400px
    .map-button
      width: 105px
      height: 58px
      background-image: url('../resources/fablevision/huds/map_button.png')
