.geniblocks.trial-count
  width: 158px
  height: 107px
  background-image: url('../resources/fablevision/huds/Trial_screen.png')
  background-size: 100% 100%

  .text-area
    position: relative
    left: 30px
    top: 25px
    width: 108px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-family: 'Yanone Kaffeesatz'
    font-weight: bold
    font-size: 1.4rem
    line-height: 1.15
    color: #555555

.os-windows
  .geniblocks.trial-count
    .text-area
      margin-top: 0.1rem
