.venture-pad-container
  outline: none
  font-family: 'Yanone Kaffeesatz'
  font-size: 4rem
  color: white

  .venture-pad-backdrop
    position: fixed
    z-index: 20
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: black
    opacity: 0.8

    &.light
      opacity: 0.2

  .venture-pad-background
    position: absolute
    top: 7%
    left: 28%
    width: 921px
    height: 894px
    background-image: url('../resources/fablevision/venture-pad/screen_behind.png')
    background-position: 30% 50%
    background-repeat: no-repeat
    margin-left: 460px
    z-index: 21

  .venture-pad-screen
    position: absolute
    top: 125px
    left: 28%
    width: 700px
    height: 825px
    z-index: 22
    margin-left: 530px
    background-size: cover
    background-repeat: no-repeat
    overflow-y: auto
    .venture-pad-title
      margin-top: 34px
    .venture-pad-flavor-text
      font-size: 1rem
      color: gray
    .venture-pad-separator
      position: absolute
      width: 720px
      height: 3px
      background-color: gray
      &#venture-pad-separator-1
        margin-top: 20px

  .venture-pad-screen::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    background-color: #555

  .venture-pad-screen::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;

  .venture-pad-screen::-webkit-scrollbar
    width: 12px;
    background-color: #F5F5F5;

  .venture-pad-overlay
    position: absolute
    top: 7%
    left: 28%
    width: 921px
    height: 894px
    margin-left: 460px
    background-image: url('../resources/fablevision/venture-pad/frame.png'),
                      url('../resources/fablevision/venture-pad/screen_over.png')
    background-position: 50% 50%, 30% 50%
    background-repeat: no-repeat
    pointer-events: none
    z-index: 23

.venture-pad-glass
    position: absolute
    width: 1590px
    height: 824px
    background-image: url('../resources/fablevision/venture-pad/glass.png')
    background-size: contain
    background-repeat: no-repeat
    top: 125px
    left: 25px
    z-index: 20

    .venture-pad-map
      background-image: url('../resources/fablevision/venture-pad/map.png')
      width: 1008px
      height: 798px
      background-size: contain
      background-repeat: no-repeat

      .venture-pad-room-highlight
        position: absolute
        &.hatchery
          background-image: url('../resources/fablevision/venture-pad/map_hatchery_highlight.png')
          width: 216px
          height: 114px
          margin-left: 70px
          margin-top: 310px
        &.zoomroom
          background-image: url('../resources/fablevision/venture-pad/map_zoomroom_highlight.png')
          width: 167px
          height: 133px
          margin-left: 708px
          margin-top: 564px
        &.simroom
          background-image: url('../resources/fablevision/venture-pad/map_simfactory_highlight.png')
          width: 222px
          height: 66px
          margin-left: 708px
          margin-top: 463px
        &.breedingbarn
          background-image: url('../resources/fablevision/venture-pad/map_breedingbarn_highlight.png')
          width: 294px
          height: 319px
          margin-left: 355px
          margin-top: 377px
        &.home
          background-image: url('../resources/fablevision/venture-pad/map_missioncontrol_highlight.png')
          width: 331px
          height: 222px
          margin-left: 339px
          margin-top: 207px
