#upload-button-backdrop
  position: absolute
  width: 100%
  height: 100%

#upload-button-container
  display: flex
  flex-direction: column
  align-items: center
  
  .upload-button-wrapper
    margin-top: 200px
    width: 400px
    height: 100px
    display: flex
    flex-direction: column
    align-items: center
    background-color: aqua
    border: 3px solid gray
    border-radius: 10px
    
    #upload-button-label
      margin-top: 12px
      width: 350px
      height: 80px
      cursor: pointer
  
    .upload-button-text
      margin-top: 12px
      font-size: 2em
      text-align: center

  #upload-message-wrapper
    margin-top: 30px
    background-color: #FBB
