/*
 * These constants must be synchronized with their usage in JavaScript,
 * e.g. fv-challenge-container.js. Should consider something like Rosetta
 * (https://www.npmjs.com/package/rosetta) which would allow single-sourcing
 * shared constants such as these.
 */
$layoutWidth = 1920px
$layoutHeight = 1080px
$layoutMinWidth = 1200px
$layoutMinHeight = 700px

html
  /* base size for rem units */
  font-size: 18px

/* no scroll bars if we have our minimum requirements */
@media (min-width: $layoutMinWidth) and (min-height: $layoutMinHeight)
  body
    overflow: hidden

body
  margin: 0

#challenges
  #playground-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #challenges-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    margin-top: 25px;
  }
  &.fv-layout-c
    .column
      margin-top: 40px
  .column-label {
    margin-top: 125px;
    margin-bottom: 25px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }

  #mission-wrapper .column-label {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }

  #center-column {
    width: 300px;
  }

  #playground-wrapper #change-sex-buttons {
    margin: 160px 0 30px -100px;
  }

  #genome-playground
    display: flex;
    #change-sex-buttons
      margin: 60px 0 30px -100px;

  #genome-challenge #change-sex-buttons {
    margin: 60px 0 0 0;
  }

  #change-sex-buttons {
    width: 100px;
    height: 43px;
  }

  #change-sex-buttons.no-label {
    margin-left: 0;
  }
  /* playground */
  #playground-wrapper #drake-image {
    margin: 200px 25px 0;
  }

  #mission-wrapper #drake-image {
    margin: 100px 25px 0;
  }

  #genome-challenge
    .instructions-banner
      margin-left: 25px

  .geniblocks.question-glow.question-mark {
    background: url("./resources/images/question_mark.png");
  }

  #playground-wrapper #advance-button {
    background-color: white;
    margin: 180px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  #mission-wrapper #advance-button {
    background-color: white;
    margin: 80px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  #test-drake-button {
    background-color: white;
    margin: 30px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  .geniblocks.feedback-view {
    margin-top: 30px;
    width: 200px;
  }

  .geniblocks.feedback.text-line {
    margin-top: 3px;
  }

  .geniblocks.glow {
    position: absolute;
  }

  .geniblocks.organism {
    /* position: absolute; */
    top: 0px;
  }

  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  #alert-wrapper {
    display: none;
    z-index: 2;
    position: relative;
    width: 200px;
    background-color: #DDD;
    padding: 15px;
    box-shadow: 0px 0px 15px #C2C793;
  }

  #alert-try-button {
    margin-top: 30px;
    float: left;
    width: 90px;
  }

  #alert-ok-button {
    margin-top: 30px;
    float: right;
    width: 90px;
  }

.mission-backdrop
  background: url("../resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;

  .button-label
    font-family: 'Yanone Kaffeesatz'

.mission-backdrop.fv-layout
  display: block
  position: relative
  width: $layoutWidth
  height: $layoutHeight
  transform: scale(0.75)
  transform-origin: 0 0
  min-width: $layoutMinWidth;
  min-height: $layoutMinHeight;

.mission-backdrop.fv-layout-c

  &.create-unique
    background-image: url('../resources/fablevision/layout-c/screen_top_lines.png'),
                      url('../resources/fablevision/layout-c/screen_center_box.png'),
                      url('../resources/fablevision/layout-c/background.png')
    background-position: 50% 7.25%, 50% 48%, 50% 50%

  &.match-target
    background-image: url('../resources/fablevision/layout-c/screen_bottom_lines.png'),
                      url('../resources/fablevision/layout-c/screen_top_lines.png'),
                      url('../resources/fablevision/layout-c/screen_center_box.png'),
                      url('../resources/fablevision/layout-c/background.png')
    background-position: 50% 91%, 50% 7.25%, 50% 48%, 50% 50%

.mission-backdrop.fv-layout-d
  background-size: cover

  background-image: url('../resources/fablevision/layout-d/background.png')
  background-position: 50% 50%

.fv-hud
  left: 0
  right: 0
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  color: #eee
  background-repeat: no-repeat
  min-width: $layoutMinWidth;

#fv-top-hud
  top: 0
  height: 152px
  margin-bottom: -60px
  background-image: url('../resources/fablevision/huds/HUD_top.png')
  background-position: 50% 0

#fv-bottom-hud
  bottom: 0
  height: 145px
  margin-top: -30px
  background-image: url('../resources/fablevision/huds/HUD_bottom.png')
  background-position: 50% 100%

#mission-wrapper {
  width: 1400px;
  margin: 90px auto;
  height: 890px;
  display: flex;
  justify-content: center;
}

.fv-layout-c #mission-wrapper {
  position: absolute
  top: 85px
  margin: auto
}

.challenge-award {
  display: block;
  position: relative;
}
.alert-button{
  border-radius:4px
  font-size:0.9em
  background-color: rgba(250,250,190,0.3);
  border: 2px solid #aa8844;
}

.hiddenDrake:before {
  content: "?";
  height:200px;
}
.hiddenDrake {
  position: relative;
  text-align: center;
  font-family: cursive;
  font-size: 12em;
  line-height: 1em;
  margin-bottom: -30px;
  color: #0D0D8C;
  text-shadow: -2px 1px #A6AB58, 0 2px #565408, 3px 0 #A8AB07, 0 -2px #656205;
}

.hiddenDrake div{
  display:none;
}

.columns
  display:flex;

  &.centered
    flex-direction: row
    justify-content: center

.fv-layout-c
  .columns.centered
    justify-content: space-around


.fade-in-on-render
  opacity: 0
  &.show
    opacity: 1

.instructions-banner
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  width: 800px
  height: 80px
  margin-left: 135px
  margin-top: -80px
  color: #eee
  background-color: rgba(255,255,255,0.4)

  .instructions-text
    font-size: 2em
    text-align: center

#egg-game
  .geniblocks.genome
    position: relative
    top: -33px
    &.matching.child
      top: -60px
    &.matching.select-chromosomes.parent
      top: 50px
  .geniblocks.organism
    height: 202px
    &.target
      height: 102px

  .gamete-pen-wrapper
    margin-left: -15px
    margin-top: -15px
    width: 80%;

.fv-layout-c
  #egg-game
    display: flex
    flex-direction: column

    .geniblocks.genome
      top: 50px

    .mother + .genome
      margin-top: -34px
      margin-left: -109px
      width: 485px
      height: 437px
      padding-top: 20px
      background-image: url('../resources/fablevision/layout-c/screen_left_chromosome_box.png')
      background-repeat: no-repeat
      display: flex
      flex-direction: column
      align-items: flex-end

    .father + .genome
      margin-top: -34px
      margin-right: -109px
      width: 485px
      height: 437px
      padding-top: 20px
      background-image: url('../resources/fablevision/layout-c/screen_right_chromosome_box.png')
      background-repeat: no-repeat

.egg
  position: relative
  display: flex
  width: 420px

  .target-section
    display: flex
    flex-direction: row
    justify-content: center
    margin-left: -40px;

  .target-drake
    margin-top: -20px;

  .target-counters
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 10px;
    margin-left: 30px;

  .fertilization
    display: flex
    align-items: flex-start
    height: 218px

    .organism
      padding-left: 25px
      padding-right: 10px
      height: 170px
      &.matching
        margin-top: 10px
        padding-left: 10px
        padding-right: 20px
        height: 140px

    .offspring-buttons
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      button
        margin: 3px
        padding: 4px
        width: 76px

  .gametes
    display: flex
    justify-content: space-between
    >div
      width: 170px
      padding: 0 0 0 0
      transition: padding 2s
      &.half-genome-left .chromosome-pair
          justify-content: flex-end
    &.unfertilized
      >div.half-genome-left
        padding: 0 65px 0 0
        transition: padding 0.2s
      >div.half-genome-right
        padding: 0 0 0 65px
        transition: padding 0.2s
    .half-genome
      position: relative

    .ovum
      position: absolute
      transition: left 2s
      top: -135px
      left: 110px
      &.matching
        top: -160px
    .sperm
      position: absolute
      transition: left 2s
      top: -117px
      left: -12px
      &.matching
        top: -142px

    &.unfertilized
      .ovum
        left: 75px
      .sperm
        left: 65px

  .fertilize-button
    margin-top: 45px
    &.matching
      margin-top: 25px
    &.disabled
      color: gray

  .egg-image
    width: 103px
    padding: 34px

  .organism
    padding-top: 40px
    &.target
      padding-top: 10px
    &.matching
      padding-top: 10px

#egg-game .bottom
  justify-content center
  margin-top -28px

.fv-layout-c
  #mission-wrapper
    width: 100%
  #egg-game
    width: 100%
  #egg-game .bottom
    margin-top 35px
  #egg-game .column
    margin-top: 40px
    .egg .gametes
      margin-top: 20px
  .egg
    .fertilization
      flex-direction: row
  .egg .gametes
    margin-top: 50px
    &.unfertilized
      // resting position (start of breeding animation)
      .ovum
        left: -90px
      .sperm
        left: 140px
    // fertilized position (end of breeding animation (top is unchanged by fertilization))
    .ovum
      left: 64px
      top: -195px
    .sperm
      left: -50px
      top: -195px
  .egg-image
    padding: 0
    margin-top: 75px
    margin-left: -10px
    transform: scale(.7)

  .offspring-buttons
    z-index: 2
    margin-top: -40px
    display: flex
    .gb-img-button
      display: flex
      justify-content: center
      align-items: center
      width: 120px
      height: 50px
      margin: 0px 10px
      background-image: url('../resources/fablevision/layout-c/Reset_Unclicked.png')
      background-size: 100% 100%
      color: #ADD8E6
      cursor: pointer
      &:active
        background-image: url('../resources/fablevision/layout-c/Reset_Clicked.png')
      div
        margin-left: -2px
        margin-top: -2px
        font-family: 'Yanone Kaffeesatz'
        font-size: 1.5rem
        cursor: pointer
        user-select: none
    &.hidden
      visibility: hidden

  #egg-game .geniblocks.child
    &.creation
      top: 0px
    &.matching
      top: -5px

#egg-sort-game
  position: relative
  width: 1000px
  height: 600px

  #baskets
    position: absolute
    top: 35px
    width: 660px
    height: 300px

  .geniblocks.basket-set
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap

    .basket
      margin-top: 100px

      .basket-image
        // https://openclipart.org/detail/203250/garden-basket-game-component-superb-quality
        background-image: url('../resources/images/garden-basket.png')
        background-size: contain
        background-repeat: no-repeat
        width: 150px
        height: 100px

      .basket-label
        width: 150px
        color: white
        font: 1.4em bold

    .basket.selected
      .basket-image
        background-image: url('../resources/images/garden-basket-glow.png')

  #eggs
    position: absolute
    top: 350px
    width: 660px

  .geniblocks.egg-clutch
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    .clutch-egg
      background-image: url('../resources/images/egg_yellow.png')
      background-size: contain
      background-repeat: no-repeat
      // http://kirkdev.blogspot.com/2014/07/magnifying-glass-cursor.html
      cursor: url('../resources/images/magnify.cur'), zoom-in
      opacity: 0.4
      width: 75px
      height: 109px

    .clutch-egg.selected
      cursor: default
      opacity: 1.0

    .clutch-egg.hidden
      visibility: hidden

  #right-section
    position: absolute
    top: 80px
    left: 680px
    width: 320px
    height: 480px

    .section-title
      font-size: 1.5em
      text-align: center
      color: white
      margin-top: 10px

    .section-title.instructions
      font-size: 2em
      color: lightGray

    #container
      position: relative
      width: 100%
      height: 100%
      border: 3px #888 solid
      border-radius: 10px

      #background
        position: absolute
        width: 314px
        height: 474px
        border: 3px white solid
        border-radius: 7px
        background: white
        opacity: 0.2

      .instr-heading
        padding-top: 1.8em
        padding-bottom: 0.5em
        font-size: 2em
        text-align: center
        color: lightGray

      .instr-item
        font-size: 1.5em
        color: lightGray

      .geniblocks.genome
        position: absolute
        margin: 20px 0

  .clutch-egg
    background-image: url('../resources/images/egg_yellow.png')
    background-size: contain
    background-repeat: no-repeat
    width: 75px
    height: 109px

.egg-alleles {
    position: relative;
    width: 160px;
    height: 129px;
    background-color: #fff;
    border: 1px solid #000;
}

.animated-component-container{
  position:fixed;
}
