#challenges
  #playground-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #challenges-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    margin-top: 25px;
  }
  .column-label {
    margin-top: 125px;
    margin-bottom: 25px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }

  #case-wrapper .column-label {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-size: 14pt;
    font-weight: bold;
  }

  #center-column {
    width: 300px;
  }

  #playground-wrapper #change-sex-buttons {
    margin: 160px 0 30px -100px;
  }

  #genome-playground #change-sex-buttons {
    margin: 60px 0 30px -100px;
  }

  #genome-challenge #change-sex-buttons {
    margin: 60px 0 0 0;
  }

  #change-sex-buttons {
    width: 100px;
    height: 43px;
  }

  #change-sex-buttons.no-label {
    margin-left: 0;
  }
  /* playground */
  #playground-wrapper #drake-image {
    margin: 200px 25px 0;
  }

  #case-wrapper #drake-image {
    margin: 100px 25px 0;
  }

  .geniblocks.question-glow.question-mark {
    background: url("./resources/images/question_mark.png");
  }

  #playground-wrapper #advance-button {
    background-color: white;
    margin: 180px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  #case-wrapper #advance-button {
    background-color: white;
    margin: 80px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  #test-drake-button {
    background-color: white;
    margin: 30px 0 10px 0;
    padding: 2px 19px 3px 19px;
  }

  .geniblocks.feedback-view {
    margin-top: 30px;
    width: 200px;
  }

  .geniblocks.feedback.text-line {
    margin-top: 3px;
  }

  .geniblocks.glow {
    position: absolute;
  }

  .geniblocks.organism {
    /* position: absolute; */
    top: 0px;
  }

  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  #alert-wrapper {
    display: none;
    z-index: 2;
    position: relative;
    width: 200px;
    background-color: #DDD;
    padding: 15px;
    box-shadow: 0px 0px 15px #C2C793;
  }

  #alert-try-button {
    margin-top: 30px;
    float: left;
    width: 90px;
  }

  #alert-ok-button {
    margin-top: 30px;
    float: right;
    width: 90px;
  }

.case-backdrop {
  background: url("../resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
}

#case-wrapper {
  width: 1080px;
  margin: 90px auto;
  height: 880px;
  display: flex;
  justify-content: center;
}

.challenge-award {
  display: block;
  position: relative;
}
.alert-button{
  border-radius:4px
  font-size:0.9em
  background-color: rgba(250,250,190,0.3);
  border: 2px solid #aa8844;
}

.hiddenDrake:before {
  content: "?";
  height:200px;
}
.hiddenDrake {
  position: relative;
  text-align: center;
  font-family: cursive;
  font-size: 12em;
  line-height: 1em;
  margin-bottom: -30px;
  color: #0D0D8C;
  text-shadow: -2px 1px #A6AB58, 0 2px #565408, 3px 0 #A8AB07, 0 -2px #656205;
}

.hiddenDrake div{
  display:none;
}

.columns{
  display:flex;
}

.fade-in-on-render
  opacity: 0
  &.show
    opacity: 1

#egg-game
  .geniblocks.genome
    position: relative
    top: -33px
    &.matching
      top: -60px
    &.matching.parent
      top: 50px
  .geniblocks.organism
    height: 202px
    &.target
      height: 102px

.egg
  position: relative
  display: flex
  width: 420px
  
  .target-section
    display: flex
    flex-direction: row
    justify-content: center
    margin-left: -40px;
  
  .target-drake
    margin-top: -20px;
  
  .target-counters
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 10px;
    margin-left: 30px;

  .fertilization
    display: flex
    align-items: flex-start
    height: 218px

    .organism
      padding-left: 25px
      padding-right: 10px
      height: 170px
      &.matching
        margin-top: 10px
        padding-left: 10px
        padding-right: 20px
        height: 140px

    .offspring-buttons
      display: flex
      flex-direction: column
      justify-content: center
      height: 100%
      button
        margin: 3px
        padding: 4px
        width: 76px

  .gametes
    display: flex
    justify-content: space-between
    >div
      width: 170px
      padding: 0 0 0 0
      transition: padding 2s
      &.half-genome-left .chromosome-pair
          justify-content: flex-end
    &.unfertilized
      >div.half-genome-left
        padding: 0 65px 0 0
        transition: padding 0.2s
      >div.half-genome-right
        padding: 0 0 0 65px
        transition: padding 0.2s
    .half-genome
      position: relative

    .ovum
      position: absolute
      transition: left 2s
      top: -135px
      left: 110px
      &.matching
        top: -160px
    .sperm
      position: absolute
      transition: left 2s
      top: -117px
      left: -12px
      &.matching
        top: -142px

    &.unfertilized
      .ovum
        left: 75px
      .sperm
        left: 65px

  .fertilize-button
    margin-top: 45px
    &.matching
      margin-top: 25px
    &.disabled
      color: gray

  .egg-image
    width: 103px
    padding: 34px
    &.matching
      margin-top: 0px
      width: 70px

  .organism
    padding-top: 40px
    &.target
      padding-top: 10px
    &.matching
      padding-top: 10px

#egg-game .bottom
  justify-content center
  margin-top -28px

#egg-sort-game
  position: absolute
  top: 115px
  left: 170px
  width: 1000px
  height: 600px
  
  #baskets
    position: absolute
    top: 35px
    left: 30px
    width: 700px
    height: 300px
  
  .geniblocks.basket-set
    display: flex
    align-items: center
    justify-content: space-around
    flex-wrap: wrap

    .basket
      margin-top: 60px
      
      .basket-image
        background-image: url('../resources/images/garden-basket.png')
        background-size: contain
        background-repeat: no-repeat
        width: 150px
        height: 100px
      
      .basket-label
        width: 150px
        color: white
        font: 1.4em bold

    .basket.selected
      .basket-image
        background-image: url('../resources/images/garden-basket-glow.png')

  #eggs
    position: absolute
    top: 335px
    left: 30px
    width: 700px
  
  .geniblocks.egg-clutch
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    .clutch-egg
      background-image: url('../resources/images/egg_brown.png')
      background-size: contain
      background-repeat: no-repeat
      width: 75px
      height: 109px
      margin-left: 35px
      margin-right: 35px

    .clutch-egg.selected
      background-image: url('../resources/images/egg_yellow.png')

  .geniblocks.genome
    position: absolute
    top: 105px
    left: 730px

.egg-alleles {
    position: relative;
    width: 160px;
    height: 129px;
    background-color: #fff;
    border: 1px solid #000;
}

.animated-component-container{
  position:fixed;
}
