.geniblocks
  &.chromosome-container
    display: flex
    .items
      display: flex
      &.rtl
        flex-direction: row-reverse
      .labels
        display: flex
        flex-direction: column
        justify-content: space-between
        div
          order: 0
          flex: 0 1 40px
          align-self: auto
