.geniblocks.chromosome-container
  display: flex
  .items
    display: flex
    .labels
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 110px
      padding-left: 10px
      padding-right: 10px
      align-items: flex-start;
      div
        order: 0
        flex: 0 1 40px
        align-self: auto

    &.rtl
      flex-direction: row-reverse
      .labels
        align-items: flex-end;
