.geniblocks.chromosome-container
  display: flex
  .items
    display: flex
    .labels
      display: flex
      flex-direction: column
      justify-content: space-around
      width: 110px
      padding-left: 10px
      padding-right: 10px
      align-items: flex-start;
      div
        order: 0
        flex: 0 1 32px
        align-self: auto
      select
        height: 20px
    .chromosome-allele-container
      position: relative
      .alleles
        display: flex
        flex-direction: column
        justify-content: space-around
        position: absolute
        top: 9px
        left: 2px
        height: 90%


    &.rtl
      flex-direction: row-reverse
      .labels
        align-items: flex-end;
