// Styles for coins awarded at end of challenges and cases
w = 256px;
h = 256px;

bronze = 0;
silver = 1;
gold = 2;

single = 1;
whole = 0;

verticalOffset(awardLevel)
  h * awardLevel * -1

horizontalOffset(pieces, piece, pieceStyle)
  // because css background offsets are negative from rhs for reasons
  totalWidth = (w * pieces * 2) + w
  rightOffset = (w * pieces * pieceStyle)
  pieceOffset = totalWidth - rightOffset - (w*piece)
  pieceOffset * -1

.coin
  position: absolute;
  height: h;
  width: w;
  &.background
    background-image: url("../resources/images/coin-background.png");
  &.piece
    z-index: 2;
    // The following section should handle single-challenge cases
    &.pieces1
      background-image: url('../resources/images/coin-pieces-2.png');          
      &.bronze
        background-position: 0 verticalOffset(bronze);
      &.silver
        background-position: 0 verticalOffset(silver);
      &.gold
        background-position: 0 verticalOffset(gold);

    for pieces in 2..5
      // coins in 2 3 4 or 5 pieces
      &.pieces{pieces}
        imageUrl = '../resources/images/coin-pieces-' + pieces + '.png'
        background-image: url(imageUrl);
        for pieceNum in 1..pieces
          // for each piece in pieces
          &.piece{pieceNum}
            &.single              
              &.bronze
                background-position: horizontalOffset(pieces,pieceNum,single) verticalOffset(bronze);
              &.silver
                background-position: horizontalOffset(pieces,pieceNum,single) verticalOffset(silver);
              &.gold
                background-position: horizontalOffset(pieces,pieceNum,single) verticalOffset(gold);
            &.whole
              &.bronze
                background-position: horizontalOffset(pieces,pieceNum,whole) verticalOffset(bronze);
              &.silver
                background-position: horizontalOffset(pieces,pieceNum,whole) verticalOffset(silver);
              &.gold
                background-position: horizontalOffset(pieces,pieceNum,whole) verticalOffset(gold);