.geniblocks.gamete
  //background-color: white
  position: absolute
  border: 1px
  margin: 5px

.geniblocks.gamete.selected
  background-color: rgba(100%, 100%, 100%, 0.4)
  
.geniblocks.gamete.disabled
  background-color: rgba(0%, 0%, 0%, 0.2)
