.geniblocks.genome-test
  .items
    display: flex
  .genome-test-options
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    .select-wrapper
      flex: 0 1 40px
    select
      order: 0
      height: 20px
