.geniblocks.genome-test
  .items
    display: flex
  .genome-test-options
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    select
      order: 0
      flex: 0 1 32px
