#navigation
  display: flex
  flex-direction: column
  flex-wrap: wrap
  width: 100%
  max-height: 600px
  margin: 90px 0 0 30px
  justify-content: center;
  overflow: scroll

.navigate-button
  width: 315px
  height: 120px
  display: flex
  justify-content: center
  align-items: center
  background-image: url('../resources/fablevision/layout-a/Hatch_ON.png')
  cursor: pointer
  color: white

  &:active
    cursor: default
    background-image: url('../resources/fablevision/layout-a/Hatch_OFF.png')
    background-position: 17px 17px
    background-size: auto
    background-repeat: no-repeat

  .navigate-button-label
    font-size: 2rem

.navigation-layout
  background-image: url('../resources/fablevision/layout-a/screen_border.png'),
                    url('../resources/fablevision/layout-a/screen.png')
  background-position: 50% 50%, 50% 50%
  height: 1080px
