.geniblocks.notification-container
  position: fixed
  bottom: 0
  left: 0
  display: flex
  flex-direction: row
  align-items: flex-end
  z-index: 14
  pointer-events: none

  .notification
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    width: 1405px
    height: 189px
    margin: 0 -67px
    padding: 12px
    color: #2d1c06
    pointer-events: all
    background-image: url('../resources/fablevision/huds/scroll.png')
    background-repeat: no-repeat

    .message-text
      margin-left: 140px
      margin-top: 23px
      font-family: 'Yanone Kaffeesatz'
      font-size: 2rem
      color: black
      width: 1030px
      -webkit-touch-callout: none
      -webkit-user-select: none
      -khtml-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none

    .message-buttons
      padding-right: 112px
      height: 100%
      position: relative

      .close-button
        position: absolute
        top: -6px
        right: 111px
        background-image: url('../resources/fablevision/huds/scroll_close.png')
        width: 47px
        height: 45px
        background-repeat: no-repeat
        background-size: contain
        margin-top: 50px
        cursor: pointer

      .next-arrow
        position: absolute
        bottom: 53px
        right: 157px
        background-image: url('../resources/fablevision/huds/arrow_right.png')
        height: 42px
        width: 46px
        background-repeat: no-repeat
        background-size: contain
        cursor: pointer

    &.its-hint
      background-image: none
      background-color: #DDD;
      border-radius: 40px;
      border: 6px solid #3bd018;
      box-shadow: white 0 0 70px;
      padding: 0;
      height: 160px;
      width: 1260px;
      margin: 0 -8px;

      .message-text
        color: #4b4b4b;
        font-family: sans-serif
        width: 1060px
        margin-left: 80px;
        margin-top: 0;

      .close-button
        right: 40px
        top: -25px

      .next-arrow
        right: 60px

  .fv-character
    background-image: url('../resources/fablevision/huds/characters/Rajput_active.png')
    width: 325px
    height: 359px
    background-repeat: no-repeat
    background-size: contain

    &.ELLIS
      background-image: url('../resources/fablevision/huds/characters/Ellis_active.png')
    &.HATCH
      background-image: url('../resources/fablevision/huds/characters/Hatch_active.png')
    &.HERRERA
      background-image: url('../resources/fablevision/huds/characters/Herrera_active.png')
    &.RAJPUT
      background-image: url('../resources/fablevision/huds/characters/Rajput_active.png')
    &.TAKURUA
      background-image: url('../resources/fablevision/huds/characters/Takurua_active.png')
    &.WEAVER
      background-image: url('../resources/fablevision/huds/characters/Weaver_active.png')
    &.WINNEMUCCA
      background-image: url('../resources/fablevision/huds/characters/Winnemucca_active.png')
    &.YEUNG
      background-image: url('../resources/fablevision/huds/characters/Yeung_active.png')
    &.NETANYA
      background-image: url('../resources/fablevision/huds/characters/Takurua_active.png')

  .hint-arrow::before
    content: url('../resources/images/hint-arrow.svg')
    position: absolute
    left: -152px
    top: 6px

.fv-layout-a
  .hint-arrow
    position: absolute
    left: 263px
    top: 1000px
    width: 435px
    height: 51px
    border: 3px solid #15e617
    border-radius: 10px;
    box-shadow: white 0 0 30px, #15e617 0 0 70px

    &.metallic
      top: -541px;
    &.wings
      top: -502px
    &.horns
      top: -467px;
    &.color
      top: -433px;
    &.black
      top: -397px;
    &.forelimbs
      top: -378px;
    &.hindlimbs
      top: -342px;
    &.armor
      top: -304px;
    &.sex
      top: -128px;
