.geniblocks.notification-container
  position: fixed
  top: 0
  right: 0

  .notification
    width: 200px
    margin: 17px
    padding: 12px
    color: #2d1c06
    border-radius: 5px
    border: 1px solid #2d1c06
    background: rgba(250, 235, 215, 0.8)
    box-shadow: inset 0px 0px 18px #ffffff, 0px 0px 8px #ffdfb5


