@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    box-shadow: 0 0 15px 4px #C2C793;
  }
  7% {
    -webkit-transform: scale(1.4);
    box-shadow: 0 0 15px 8px #C2C793;
  }
  14% {
    -webkit-transform: scale(1.0);
    box-shadow: 0 0 15px 4px #C2C793;
  }
  21% {
    -webkit-transform: scale(1.4);
    box-shadow: 0 0 15px 8px #C2C793;
  }
  28% {
    -webkit-transform: scale(1.0);
    box-shadow: 0 0 15px 4px #C2C793;
  }
  to {
    -webkit-transform: scale(1.0);
    box-shadow: 0 0 15px 4px #C2C793;
  }
}

.pulse
  -webkit-animation-name: pulse
  -webkit-animation-duration: 3s
  -webkit-animation-iteration-count: infinite

@-webkit-keyframes mini-pulse {
  from {
    -webkit-transform: scale(1.0);
  }
  5% {
    -webkit-transform: scale(1.06);
  }
  10% {
    -webkit-transform: scale(1.0);
  }
  15% {
    -webkit-transform: scale(1.06);
  }
  20% {
    -webkit-transform: scale(1.0);
  }
}

.mini-pulse
  -webkit-animation-name: mini-pulse
  -webkit-animation-duration: 5s
  -webkit-animation-iteration-count: infinite