#tutorial
  position: fixed
  top: 0
  left: 0
  transition: background-color 1s
  &.active
    width: 100%
    height: 100%
    z-index: 200
    background-color: rgba(0,0,0,0.5)
.tutorial
  z-index:201