.fv-layout-zoom
  #toggle-popups
    width: 30px
    height: 30px
    position: fixed
    bottom: 30px
    background-color: gold
    border-radius: 18px
    text-align: center
    line-height: 1.5em
    color: black
    font-weight: bold
    border: 1px solid orange
    z-index: 20
    cursor: pointer