#case-backdrop {
  background: url("./resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
  height: 100%;
}

#case-wrapper {
  width: 1080px;
  margin: 90px auto;
  height: 880px;
  display: flex;
  justify-content: center;
}
