body {
  background: url("https://geniverse-lab.concord.org/static/lab/en/e0b89b3afdf312f5315d701ddf9924d47d0a4795/resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 1080px;
  margin-top: 90px;
  height: 880px;
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#father-genome-unknown {
  width: 334px;
  text-align: center;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 14em;
  line-height: 1;
  color: #0D0D8C;
  text-shadow: -2px 1px #A6AB58, 0 2px #565408, 3px 0 #A8AB07, 0 -2px #656205;
}

button {
  margin: 40px 0 10px 0;
  padding: 2px 19px 3px 19px;
}
#breed-button {
  margin-top: 150px;
}

.tabs-menu-item a {
  font-weight: bold;
  color: black;
}

.tabs-menu-item.is-active a {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.tab-panel {
  padding: 10px 0px;
}

.geniblocks.pen {
  background-color: #936942;
}

.geniblocks.stats {
  background-color: white;
}

#stats-table {
  border-collapse: collapse;
}

#stats-table.no-data {
  display: none;
}

#stats-table th, td {
  border: 1px solid #999;
  padding: 2px;
}

#stats-table .even-trait {
  background: #ddd;
}

#stats-table .label {
  text-align: left;
}

#stats-table .numeric {
  text-align: right;
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

#test-wrapper {
  display: none;
  z-index: 2;
  position: relative;
  top: -252px;
  background-color: #DDD;
  padding: 15px;
  box-shadow: 0px 0px 15px #C2C793;
}
